{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="titleCard">
            <h1>Ajouter une Session</h1>
        </div>
        <div class="sousCard">
            {{ form(formSession) }}
        </div>
    </div>
</div>
{% endblock body %}
